langchain-openai
langchain
langchain-classic
python-dotenv
langchain_community
langchain_core
streamlit
openai
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo-search
ddgs
mysql-connector-python
SQLAlchemy
validators
unstructured
pytube
numexpr

